.hero {
  background-image: url("../../assets/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  color: white;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000c2;
  opacity: 0.65;
  z-index: -1;
}

/* start of about section */

.about-social li {
  border: 2px solid var(--section-header-color);
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s all ease-in-out;
}
.about-social li:hover {
  background-color: var(--section-header-color);
  color: var(--main-color);
}
.about-social li a {
  color: var(--section-header-color);
  transition: 0.5s color ease-in-out;
}
.about-social li:hover a {
  color: var(--main-color);
}

/* end of about section */

/* start of categories section */

.about-header {
  color: var(--section-header-color);
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  position: relative;
  display: inline-block;
}

/* end of categories section */

.deliver {
  background-image: url("../../assets/grocery-banner.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
