:root {
  --section-color: #f7f7f7;
  --main-color: white;
  --section-header-color: #343434;
  --background-color: black;
}

body {
  background-color: white;
}

.section-spacing {
  padding: 100px 0px;
}

.section-color {
  background-color: var(--section-color);
}

.section-header {
  color: var(--section-header-color);
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  position: relative;
  display: inline-block;
  margin-bottom: 80px;
}

.section-header::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 3px;
  width: 50px;
  margin: 10px 0px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
